{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Minhas Finanças</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

          <style>
            .btn-personalizado {
              width: 150px;
              margin: 0 auto;
            }
            
            
            body {
              background-image: url(../static/img/fundo.jpg);
            }

            .card {
              max-width: 500px;
              margin: 0 auto;
            }
          </style>

  </head>

  <body class="bg-light">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12 mb-4">
          <div class="card h-100">
            <div class="card-body d-flex flex-column justify-content-center">
              <h4 class="card-title text-center">Cadastrar Despesa/Receita</h4>
              <a href="{% url 'cadastrar' %}" class="btn btn-success btn-block btn-personalizado mt-4">Cadastrar</a>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-4">
          <div class="card h-100">
            <div class="card-body d-flex flex-column justify-content-center">
              <h4 class="card-title text-center">Listar Despesa/Receita</h4>
              <a href="{% url 'listar' %}" class="btn btn-primary btn-block btn-personalizado mt-4">Listar</a>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-4">
          <div class="card h-100">
            <div class="card-body d-flex flex-column justify-content-center">
              <h4 class="card-title text-center">Editar Despesa/Receita</h4>
              <a href="{% url 'editar' %}" class="btn btn-warning btn-block btn-personalizado mt-4">Editar</a>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-4">
          <div class="card h-100">
            <div class="card-body d-flex flex-column justify-content-center">
              <h4 class="card-title text-center">Excluir Despesa/Receita</h4>
              <a href="{% url 'excluir' %}" class="btn btn-danger btn-block btn-personalizado mt-4">Listar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn690C6aspXqoqZKPu5E9DHV1M6tUE6a"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JQ+bFjJXAWhlZY7z9
