{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />

  <title>Listagem de Finanças</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <style>

      
    .btn-personalizado {
      width: 150px;
      margin: 0 auto;
    }

    body {
      background-image: linear-gradient(to right, #1e3c72, #2a5298, #3292d0);
      color: white;
    }

    .card {
      max-width: 500px;
      margin: 0 auto;
      background-color: rgba(255, 255, 255, 0.1);
      border: none;
    }
    
    .card-title {
      color: white;
    }
    
    .card a {
      text-decoration: none;
      color: white;
    }

    * {
      color: white;
    }
  </style>

</head>

<body>

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6">


        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Descrição</th>
              <th scope="col">Valor</th>
              <th scope="col" class="data-column">Data</th>
              <th scope="col" class="comprovante-column">Comprovante</th>
            </tr>
          </thead>
          <tbody>



          {% for receita in receitas %}
        
         
            <tr>
              <th scope="row">{{ receita.id}}</th>
              <td>{{ receita.descricao }}</td>
              <td>R$ {{ receita.valor }}</td>
              <td>{{ receita.data }}</td>
              <td>
                {% if receita.comprovante %}
                <a href="{{ receita.comprovante.url }}" download="{{ receita.comprovante.name }}">Comprovante</a>
                {% else %}
                Nenhum comprovante
                {% endif %}
              </td>
              <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editarReceita"
                  data-whatever="@mdo">Editar</button></td>

              <div class="modal fade" id="editarReceita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">

                      <form method="POST" action="{% url 'atualizar'%}" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Id:</label>
                          <input type="number" name="id" class="form-control" id="recipient-name"
                            value="{{ receita.id }}" readonly="readonly">
                        </div>
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Descrição:</label>
                          <textarea class="form-control" name="descricao" id="message-text"></textarea>
                        </div>


                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Tipo:</label>
                          <input type="text" name="tipo" class="form-control" id="recipient-name" value="receita"
                            readonly="readonly">
                        </div>


                        <label for="categoria">Categoria</label>
                        <select class="form-control" id="categoria" name="categoria">
                          <option value="">Selecione uma opção</option>
                          <optgroup label="Receita">
                            <option value="presente">Presente</option>
                            <option value="premio">Prêmio</option>
                            <option value="salario">Salário</option>
                            <option value="outros">Outros</option>
                          </optgroup>

                        </select>

                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Valor:</label>
                          <input type="number" name="valor" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Data: </label>
                          <input type="date" name="data" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Comprovante: </label>
                          <input type="file" class="form-control-file" id="comprovante" name="comprovante">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
                          <button type="submit" class="btn btn-primary">Atualizar dados</button>
                        </div>
                      </form>
                    </div>



                  </div>
                </div>
              </div>

              <td><a href="{% url 'excluir' tipo='receita' id=receita.id  %}" class="btn btn-danger">Excluir</a></td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if not receitas %}
          <a href="{% url 'cadastrar' %}" class="btn btn-success">Cadastrar nova receita</a>
        {% endif %}   
      </div>
      <div class="col-md-6">
        <table class="table table-hover">
          <thead>
            
            <tr>
              
              <th scope="col">ID</th>
              <th scope="col">Descrição</th>
              <th scope="col">Valor</th>
              <th scope="col" class="data-column">Data</th>
              <th scope="col" class="comprovante-column">Comprovante</th>

            </tr>
          </thead>
          <tbody>

             
            
            {% for despesa in despesas %}
            <tr>
              <th scope="row">{{ despesa.id }}</th>
              <td>{{ despesa.descricao }}</td>
              <td>R$ {{ despesa.valor }}</td>
              <td>{{ despesa.data }}</td>
              <td>
                {% if despesa.comprovante %}
                <a href="{{ despesa.comprovante.url }}" download="{{ despesa.comprovante.name }}">Comprovante</a>
                {% else %}
                Nenhum comprovante
                {% endif %}
              </td>
              <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editarDespesa"
                data-whatever="@mdo">Editar</button></td>

            <div class="modal fade" id="editarDespesa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    <form method="POST" action="{% url 'atualizar'%}" enctype="multipart/form-data">
                      {% csrf_token %}

                      <div class="form-group">
                        <label for="message-text" class="col-form-label">Id:</label>
                        <input type="number" name="id" class="form-control" id="recipient-name"
                          value="{{ despesa.id }}" readonly="readonly">
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="col-form-label">Descrição:</label>
                        <textarea class="form-control" name="descricao" id="message-text"></textarea>
                      </div>


                      <div class="form-group">
                        <label for="message-text" class="col-form-label">Tipo:</label>
                        <input type="text" name="tipo" class="form-control" id="recipient-name" value="despesa"
                          readonly="readonly">
                      </div>


                      <label for="categoria">Categoria</label>
                      <select class="form-control" id="categoria" name="categoria">
                        <option value="">Selecione uma opção</option>
                        <optgroup label="Despesa">
                          <option value="casa">Casa</option>
                          <option value="educacao">Educação</option>
                          <option value="eletronicos">Eletrônicos</option>
                          <option value="lazer">Lazer</option>
                          <option value="saude">Saúde</option>
                          <option value="supermercado">Supermercado</option>
                          <option value="transporte">Transporte</option>
                          <option value="outros">Outros</option>
                        </optgroup>

                      </select>

                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Valor:</label>
                        <input type="number" name="valor" class="form-control" id="recipient-name">
                      </div>
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Data: </label>
                        <input type="date" name="data" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Comprovante: </label>
                        <input type="file" class="form-control-file" id="comprovante" name="comprovante">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
                        <button type="submit" class="btn btn-primary">Atualizar dados</button>
                      </div>
                    </form>
                  </div>



                </div>
              </div>
            </div>

            <td><a href="{% url 'excluir' tipo='despesa' id=despesa.id  %}" class="btn btn-danger">Excluir</a></td>

          </tr>
            {% endfor %}
          </tbody>
          
        </table>
        
        {% if not despesas %}
          <a href="{% url 'cadastrar' %}" class="btn btn-success">Cadastrar nova despesa</a>
        {% endif %}   
      

      </div>

    </div>
  </div>

  <hr>

  <table class="table table-borderless">
    <tfoot>
      <tr>
        <td class="text-end"><strong>Receita total:</strong></td>
        <td class="text-left"> <strong> R$ {{ receita_total }}</strong></td>
        <td></td>
      </tr>
      <tr>
        <td class="text-end"><strong>Despesa total:</td>
        <td class="text-left"><strong>R$ {{ despesa_total }}</strong></td>
        <td></td>
      </tr>
      <tr>
        <td class="text-end"><strong>Total:</td>
        <td class="text-left"><strong>R$ {{ saldo }}</strong></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="/" class="btn btn-primary" >Voltar</a></td>
      </tr>
    </tfoot>
  </table>

  </div>
  </div>




  </div>
  </div>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>